<p>
    <kendo-grid [data]="gridData" [height]="410">
        <kendo-grid-column field="projectId" title="Project Id">
        </kendo-grid-column>
        <kendo-grid-column field="startDate" title="Start Date">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span> {{dataItem.startDate.toLocaleDateString("en-US")}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Time to Start">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span> {{CalculateTimeToStart(dataItem)  }}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="endDate" title="End Date">
                <ng-template kendoGridCellTemplate let-dataItem>
                        <span> {{dataItem.endDate.toLocaleDateString("en-US")}}</span>
                    </ng-template>            
        </kendo-grid-column>
        <kendo-grid-column field="credits" title="Credits">
        </kendo-grid-column>
        <kendo-grid-column field="isActive" title="Status">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span> {{dataItem.isActive ? "Active" : "Inactive"}}</span>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</p>