<p>
    <kendo-grid [data]="gridData" [height]="410">
        <kendo-grid-column field="Id" title="Project Id">
        </kendo-grid-column>
        <kendo-grid-column field="StartDate" title="Start Date">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span> {{dataItem.StartDate.toLocaleDateString("en-US")}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Time to Start">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span> {{CalculateTimeToStart(dataItem)  }}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="EndDate" title="End Date">
                <ng-template kendoGridCellTemplate let-dataItem>
                        <span> {{dataItem.EndDate.toLocaleDateString("en-US")}}</span>
                    </ng-template>            
        </kendo-grid-column>
        <kendo-grid-column field="Credits" title="Credits">
        </kendo-grid-column>
        <kendo-grid-column field="IsActive" title="Status">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span> {{dataItem.IsActive ? "Active" : "Inactive"}}</span>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</p>